[submodule "sigslot"]
	path = sigslot
	url = https://github.com/palacaze/sigslot.git
[submodule "pyboostcvconverter"]
	path = pyboostcvconverter
	url = https://github.com/Algomorph/pyboostcvconverter.git
[submodule "asio-extensions"]
	path = asio-extensions
	url = https://github.com/zweistein-frm2/asio-extensions.git
[submodule "libdl"]
	path = charm/libdl
	url = https://github.com/GaloisInc/libdl.git
