
[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv.git

[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "entangle-charming/pyboostcvconverter"]
	path = entangle-charming/pyboostcvconverter
	url = https://github.com/Algomorph/pyboostcvconverter.git
[submodule "entangle-install-charming/toml11"]
	path = entangle-install-charming/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "entangle-install-charming/cmrc"]
	path = entangle-install-charming/cmrc
	url = https://github.com/vector-of-bool/cmrc.git
[submodule "entangle-install-isegCC2x/iseg"]
	path = entangle-install-isegCC2x/iseg
	url = https://github.com/zweistein22/iseg.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "charm/magic_enum"]
	path = charm/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "charm/sigslot"]
	path = charm/sigslot
	url = https://github.com/palacaze/sigslot.git
[submodule "charm/asio-extensions"]
	path = charm/asio-extensions
	url = https://github.com/timniederhausen/asio-extensions.git
[submodule "charm/libdl"]
	path = charm/libdl
	url = https://github.com/GaloisInc/libdl.git
[submodule "charm/cvui"]
	path = charm/cvui
	url = https://github.com/Dovyski/cvui.git
[submodule "nicos-install-erwin_charming/erwin_charming"]
	path = nicos-install-erwin_charming/erwin_charming
	url = https://github.com/zweistein22/erwin_charming.git
[submodule "nicos-install-erwin_charming/toml11"]
	path = nicos-install-erwin_charming/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "nicos-install-sans1_charming/sans1_charming"]
	path = nicos-install-sans1_charming/sans1_charming
	url = https://github.com/zweistein22/sans1_charming.git
[submodule "nicos-install-sans1_charming/toml11"]
	path = nicos-install-sans1_charming/toml11
	url = https://github.com/ToruNiina/toml11.git
